// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as BillkitApi from "../../../index.js";

export declare namespace BillingClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Billing portal token generation
 */
export class BillingClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<BillingClient.Options>;

    constructor(options: BillingClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Generates a signed JWT that grants a specific subject access to the hosted
     * billing portal. The token is scoped to both the tenant and the subject,
     * preventing cross-tenant or cross-subject access.
     *
     * ## Authentication
     * Requires API key authentication (X-Api-Key header). Only the tenant's
     * backend should call this endpoint.
     *
     * ## Request Body
     * ```json
     * { "subject_id": "user_123" }
     * ```
     *
     * ## Response (200)
     * ```json
     * {
     *   "token": "eyJ...",
     *   "portal_url": "https://billing.billkit.io/acme-corp/manage?token=eyJ...",
     *   "expires_at": "2024-01-15T12:30:00Z"
     * }
     * ```
     *
     * ## Errors
     * - 400: Missing or empty `subject_id`
     * - 404: Subject not found or not assigned to this tenant
     * - 500: Internal error (JWT signing failure, store error)
     *
     * @param {BillkitApi.CreatePortalTokenRequest} request
     * @param {BillingClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link BillkitApi.BadRequestError}
     * @throws {@link BillkitApi.NotFoundError}
     * @throws {@link BillkitApi.InternalServerError}
     * @throws {@link errors.BillkitApiError}
     * @throws {@link errors.BillkitApiTimeoutError}
     *
     * @example
     *     await client.billing.createPortalToken({
     *         subject_id: "subject_id"
     *     })
     */
    public createPortalToken(
        request: BillkitApi.CreatePortalTokenRequest,
        requestOptions?: BillingClient.RequestOptions,
    ): core.HttpResponsePromise<BillkitApi.CreatePortalTokenResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createPortalToken(request, requestOptions));
    }

    private async __createPortalToken(
        request: BillkitApi.CreatePortalTokenRequest,
        requestOptions?: BillingClient.RequestOptions,
    ): Promise<core.WithRawResponse<BillkitApi.CreatePortalTokenResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "billing/portal-token",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(request, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as BillkitApi.CreatePortalTokenResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new BillkitApi.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new BillkitApi.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new BillkitApi.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.BillkitApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/billing/portal-token");
    }
}
