// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as BillkitApi from "../../../index.js";

export declare namespace TenantsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Tenant account information
 */
export class TenantsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<TenantsClient.Options>;

    constructor(options: TenantsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Protected by the auth middleware. Returns metadata about the authenticated
     * user's tenant. The tenant_id is resolved by the auth middleware, either from:
     * 1. The JWT `custom:tenant_id` claim (if present), or
     * 2. The `USER#{sub}` → `tenant_id` mapping in DynamoDB (the common path).
     *
     * This endpoint then verifies the tenant record itself exists in DynamoDB and
     * returns its metadata.
     *
     * - 200: tenant record found — returns tenant metadata (tenant_id, org_id, plan_key, created_at).
     * - 404: tenant_id was resolved from the user link but the TenantRecord is missing.
     *   This can happen after a partial database reset or data corruption.
     * - 401: (from auth middleware) user has no tenant association — either no
     *   `custom:tenant_id` claim and no USER#{sub} link in DynamoDB. This is the
     *   normal state for users who haven't provisioned yet, or after a full DB reset.
     * - 500: unexpected store error.
     *
     * @param {TenantsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link BillkitApi.NotFoundError}
     * @throws {@link BillkitApi.InternalServerError}
     * @throws {@link errors.BillkitApiError}
     * @throws {@link errors.BillkitApiTimeoutError}
     *
     * @example
     *     await client.tenants.getTenantMe()
     */
    public getTenantMe(
        requestOptions?: TenantsClient.RequestOptions,
    ): core.HttpResponsePromise<BillkitApi.TenantMeResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getTenantMe(requestOptions));
    }

    private async __getTenantMe(
        requestOptions?: TenantsClient.RequestOptions,
    ): Promise<core.WithRawResponse<BillkitApi.TenantMeResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "tenants/me",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as BillkitApi.TenantMeResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new BillkitApi.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new BillkitApi.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.BillkitApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/tenants/me");
    }
}
