// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as BillkitApi from "../../../index.js";

export declare namespace UsageClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Usage statistics and metering data
 */
export class UsageClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<UsageClient.Options>;

    constructor(options: UsageClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Sets the absolute value of a stateful feature counter. Enforces limits at write time:
     * if the requested value exceeds the configured max, the request is rejected with 409.
     * Writes directly to cache (bypassing the increment buffer) and publishes a `UsageSetEvent`
     * to SQS for durable persistence.
     *
     * - If `subject_id` or `feature_code` is empty: returns 400.
     * - If `feature_code` not found in schema: returns 404.
     * - If feature type is not Stateful: returns 422.
     * - If subject has no plan assigned: returns 409 with reason "no_plan".
     * - If value exceeds max: returns 409 with reason "value exceeds stateful feature limit".
     * - If cache write fails: returns 503.
     * - On SQS publish failure: still returns 200 (fire-and-forget).
     * - On success: returns 200 with accepted response.
     *
     * @param {BillkitApi.SetUsageRequest} request
     * @param {UsageClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link BillkitApi.BadRequestError}
     * @throws {@link BillkitApi.NotFoundError}
     * @throws {@link BillkitApi.ConflictError}
     * @throws {@link BillkitApi.UnprocessableEntityError}
     * @throws {@link BillkitApi.ServiceUnavailableError}
     * @throws {@link errors.BillkitApiError}
     * @throws {@link errors.BillkitApiTimeoutError}
     *
     * @example
     *     await client.usage.setUsage({
     *         subject_id: "subject_id",
     *         feature_code: "feature_code",
     *         value: 1000000
     *     })
     */
    public setUsage(
        request: BillkitApi.SetUsageRequest,
        requestOptions?: UsageClient.RequestOptions,
    ): core.HttpResponsePromise<BillkitApi.SetUsageResponse> {
        return core.HttpResponsePromise.fromPromise(this.__setUsage(request, requestOptions));
    }

    private async __setUsage(
        request: BillkitApi.SetUsageRequest,
        requestOptions?: UsageClient.RequestOptions,
    ): Promise<core.WithRawResponse<BillkitApi.SetUsageResponse>> {
        const { subject_id: subjectId, feature_code: featureCode, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `subjects/${core.url.encodePathParam(subjectId)}/usage/${core.url.encodePathParam(featureCode)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as BillkitApi.SetUsageResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new BillkitApi.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new BillkitApi.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 409:
                    throw new BillkitApi.ConflictError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new BillkitApi.UnprocessableEntityError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 503:
                    throw new BillkitApi.ServiceUnavailableError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.BillkitApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/subjects/{subject_id}/usage/{feature_code}",
        );
    }

    /**
     * Returns aggregated usage statistics for the authenticated tenant.
     * Includes per-feature consumption totals and cadence window metadata.
     *
     * Plan-specific fields (limit, cadence, overage, warning) are intentionally
     * omitted from the aggregated view because they are per-plan values that
     * cannot be meaningfully resolved at the tenant level (see issue #224).
     *
     * When `?per_subject=true` is passed, returns per-subject usage breakdowns
     * including each subject's feature counters with plan-specific limits
     * resolved from the schema.
     *
     * @param {BillkitApi.GetUsageRequest} request
     * @param {UsageClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link BillkitApi.InternalServerError}
     * @throws {@link errors.BillkitApiError}
     * @throws {@link errors.BillkitApiTimeoutError}
     *
     * @example
     *     await client.usage.getUsage()
     */
    public getUsage(
        request: BillkitApi.GetUsageRequest = {},
        requestOptions?: UsageClient.RequestOptions,
    ): core.HttpResponsePromise<BillkitApi.UsageResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getUsage(request, requestOptions));
    }

    private async __getUsage(
        request: BillkitApi.GetUsageRequest = {},
        requestOptions?: UsageClient.RequestOptions,
    ): Promise<core.WithRawResponse<BillkitApi.UsageResponse>> {
        const { per_subject: perSubject } = request;
        const _queryParams: Record<string, unknown> = {
            per_subject: perSubject,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "usage",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as BillkitApi.UsageResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 500:
                    throw new BillkitApi.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.BillkitApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/usage");
    }
}
